{% extends 'base.html.twig' %}

{% block title %}Ma liste de cartes{% endblock %}
{% block body %}

    {{ form_start(filter) }}
        {{ form_widget(filter) }}
    {{ form_end(filter) }}


        <div class="row d-flex justify-content-center">
                {% for card in cards %}
                    <div class="card text-white bg-primary m-2 col-md-3">
                        <div class="card-header">
                            Date de parution : {{ card.ReleaseDate|date('d,m,Y') }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ card.CardName }}</h4>
                            <img src="{{ asset('public/uploads/image/' ~ card.CardImage) }}" alt="">
                            <p class="card-text">{{ card.description }}</p>
                            <p class="card-text">Nombre d'exemplaires : {{ card.NumberCardsInCollection }}</p>
                            <p class="card-text">Prix :{{ card.CardValueEuros }} €</p>
                            <p class="card-text">Achetée le {{ card.PurchaseDate |date('d,m,Y')}}</p>
                            {% if card.IsOnSale is same as(TRUE) %}<p class="card-text">En vente </p>{% else %}<p class="card-text"> Pas en vente</p>{% endif %}
                            {% if app.user %}
                                <a class="btn btn-secondary" href="{{ path('delete_card', { id: card.id }) }}">Supprimmer</a>
                                <a class="btn btn-secondary" href="{{ path('edit_card', { id: card.id }) }}">Modifier</a>
                                <a class="btn btn-secondary" href="{{ path('sendmail', {id: card.id}) }}">Faire une offre</a>
                            {% endif %}
                        </div>
                    </div>
                    
                {% endfor %}
        </div>
{% endblock %}
                